.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar {
  padding: 20px 0;
}

.navbar-brand {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
}

.nav-item {
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: #a13a3a;
}

@media only screen and (max-width: 600px) {
  .navbar-collapse {
    background-color: white;
  }
}
